<template>
          <div class="autocomplete">
              <fieldset class="form-group">
                      <input type="text"
                          class="form-control form-control-lg"
                          v-model="search"
                          @input="onChange"
                          autocomplete="off"
                          placeholder="Adresse"
                      />
                      <ul v-if="adresses != null && adresses.length > 0" class="autocomplete-results">
                        <li
                            v-for="(adress) in adresses"
                            :key="adress.name"
                            @click="choose(adress)"
                            class="autocomplete-result"
                          >
                            {{ adress.label }}
                          </li>
                      </ul>
              </fieldset>
          </div>
    
</template>


<script>
export default {
  name: "Autocomplete",
  data() {
    return {
      search: "",
      autocomplete: 'off'
    };
  },

  props: {
    onChange: Function,
    onAdressChosen: Function,
    adresses: Array
  },

  methods: {
    choose(adress) {
      this.search = adress.name
      this.onAdressChosen(adress);
    }
  }
};
</script>

<style>
.autocomplete {
  position: relative;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  overflow: auto;
  position: absolute;
  background: white;
  width: 100%;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
  border-bottom: 1px solid rgb(206, 212, 218);

}

.autocomplete-result:hover {
  background-color: #4aae9b;
  color: white;
}
</style>