<template>
    <div class="home-page">
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">Home page</h1>
                


                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form v-on:submit.prevent="onSubmit(email, password)">
                            <Autocomplete
                                v-bind:onChange="fetchAddress"
                                v-bind:adresses="adressesResult"
                                :onAdressChosen="onAdressChosen"/>
                            
                                <fieldset class="form-group">
                                    <input
                                        class="form-control form-control-lg"
                                        type="text"
                                        v-model="city"
                                        placeholder="Ville" />
                                </fieldset>
                                <fieldset class="form-group">
                                    <input
                                        class="form-control form-control-lg"
                                        type="text"
                                        v-model="postcode"
                                        placeholder="Code postale" />
                                </fieldset>
                                <fieldset class="form-group">
                                    <select class="form-control form-control-lg">
                                        <option value="France">France</option>
                                        <option value="Allemagne">Allemagne</option>
                                        <option value="Espagne">Espagne</option>
                                    </select>
                                </fieldset>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Autocomplete from "components/Form/Autocomplete";
import { mapGetters } from "vuex";

export default {
  name: "home",
  components: {
    Autocomplete
  },
  methods: {
    fetchAddress(e) {
      this.$store.dispatch("fetchAdresses", e.target.value);
    },
    onAdressChosen(chosenAdress) {
        this.$store.dispatch('chooseAdress', chosenAdress)
        this.country = 'France'
        this.postcode = chosenAdress.postcode
        this.city = chosenAdress.city
    }
  },
  computed: {
    ...mapGetters(["adressesResult"])
  },
  data() {
    return {
      address: null,
      city: null,
      postcode: null,
      country: null,
    };
  }
};
</script>
