<template>
    <div class="home-page">
        <div class="banner">
            <div class="container">
                <h1 class="logo-font">Secured Area</h1>

                <button v-on:click="testGQL()">Tester l'API</button>

                <div v-if="gqlData != null">
                    {{gqlData.message}}
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Secured",
  methods: {
    testGQL() {
      this.$store.dispatch("loadDataFromApi");
    }
  },
  computed: {
    ...mapGetters(["gqlData"])
  }
};
</script>

<style scoped>
</style>
