<template>
  <nav class="navbar navbar-light">
    <div class="container">
      <router-link class="navbar-brand"
        :to="{ name: 'home' }">
        Demo app
      </router-link>

      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <router-link class="nav-link"
                       active-class="active"
                       exact
                       :to="{ name: 'secured' }">
            Secured
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'RwvHeader',
    computed: {
      ...mapGetters([
        'currentUser',
        'isAuthenticated'
      ])
    }
  }
</script>
