<template>
  <div id="app">
    <rwv-header></rwv-header>
    <router-view></router-view>
  </div>
</template>

<script>
import RwvHeader from 'components/TheHeader'

export default {
  name: 'App',
  components: {
    RwvHeader,
  }
}
</script>

<style>
</style>
